<div class="nested-fields jumbotron">
  
  <div class="">
   <div class="row">
     <div class="col-md-3">
        <div class="field">
    <%= f.label :orden %><br>
    <%= f.number_field :orden, class: 'form-control' , :required => true%>
  </div>
     </div>
     <div class="col-md-3">
       <%= f.label :link_uploaded %><br>
    <%= f.text_field :link , class: 'form-control' , :required => true%>
     </div>
     <div class="col-md-3">
      <%= f.label :nombre_cap %><br>
    <%= f.text_field :description, class: 'form-control' %>  
     </div>
     <div class="col-md-3">
      <%= f.label :descargar %><br>
    <%= f.text_field :duration, class: 'form-control' %>  
     </div>
   </div>
 </div>
  
 

    
  <%= link_to_remove_association "Descartar Capìtulo", f %>   
  </div>

</div>
  