<div class="nested-fields well back_t">


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= f.label :name %></th>
      <th><%= f.label :link %></th>
      <th><%= f.label :trailer_youtube %></th>
      <th><%= f.label :tag %></th>
      <th><%= f.label :description %></th>
      <th><%= f.label :year %></th>
      <th><%= f.label :duration %></th>
      <th><%= f.label :imagen %></th>
   
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.number_field :orden , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :link , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :video , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :tag , class: 'form-control input-sm'%></td>
      <td><%= f.text_area :description , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :year , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :duration , class: 'form-control input-sm'%></td>
      <td><%= f.text_field :imagen , class: 'form-control input-sm'%></td>

    </tr>
  </tbody>
</table>

        
    
    <div id="chapter">
    
    <%= f.fields_for :chapters do |chapter| %>
     

        <%= render 'chapter_fields', f: chapter %>


    <% end %>     
    <div class="links">
      <%= link_to_add_association 'Agregar Capìtulo', f, :chapters , 'data-association-insertion-method'    => 'before' %>

    </div>
     
  </div>
    
    
   
    <div class="col-md-4 col-md-offset-8"> <%= link_to_remove_association "Descartar Temporada", f %>   </div>
  </div>

</div>
  


