
  <p id="notice"><%= notice %></p>
<% a = 0 %>
<script>
  $(document).on('page:change', function () {
    

  });
</script>


<div class="foto">
          <img src=" <%= @series_temp.imagen %>">
         
          
       </div>
       <h1 class="titulo"><%= @series_temp.name %></h1> 
    <br> <br>



<div class="container-fluid">
        <%     youtube =  @series_temp.video.split("=").last
               youtube =  "https://www.youtube.com/embed/" + youtube  
              %>
   
         <iframe class="video_y1" src="<%= youtube %>" frameborder="0" allowfullscreen></iframe>
      
</div>

<div class="container-fluid">
  <div class="col-lg-6">
    <div class="hidden-xs">
  <dl class="dl-horizontal let">
    <dt>Tag</dt>
    <dd><%= @series_temp.tag %></dd>
    <dt>Año</dt>
    <dd><%= @series_temp.year %></dd>
    <dt>Director</dt>
    <dd><%= @series_temp.director %></dd>
    <dt>Duraciòn</dt>
    <dd><%= @series_temp.duration %></dd>
    <dt>Paìs</dt>
    <dd><%= @series_temp.country %></dd>
    <dt>Descripciòn</dt>
    <dd><%= @series_temp.description %></dd>
  </dl>
</div>

  </div>
  <div class="col-xs-12 col-lg-6">
    <br> <br>
  <div class="descripcion scroll">
  
         
     
     
<div class="container-fluid marge">
  
     <% @series_temp.seasons.order('name DESC').each do |season| %>
     

         <div class="row">
            <div class="col-md-12 portfolio-item_1">
           
              <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="foto baja">
                  
                  <img src="<%= season.imagen %>" class="img-responsive  baja nn">
                  
<br>
        
                </div>
                
                </div>
                <div class="col-sm-12 col-md-6">
              <% 
                
                 youtube_1 = season.video.split("=").last
                 youtube =  "https://www.youtube.com/embed/" + youtube_1
             
              %>
              <div class="embed-container baja bb">
              <iframe class="" src="<%= youtube %>" frameborder="0" allowfullscreen></iframe>
               </div>


                </div>
               
              </div>
                
             
                  
                  
            <br></br>
            
            
            </div>
           
            </div>  
          
                  
                
            <div class="row">
              <div class="col-xs-12">
                <div class="cuadro">
                  
               <table class="table ">
                  <thead>
                    <tr>
                      <th>Temporada</th>
                     
                      <th>Tags</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= season.name %></td>
           
                      <td><%= season.tag %></td>
                    </tr>
                  </tbody>
                 </table> 
                  <h4>Descripciòn</h4>
                  <p>
                   <%= season.description %> 
                  </p>
                
             
                </div>
                
                
              </div>
            </div>  
    <br></br>
     <% end %> 
       
</div>

   

    

     
  
  </div>
</div>

  </div>
  
  
  
  
  
  
  

    
<div class="container">
  
<hr>
<h1 class="tex-center">Capítulos</h1>
<div class="col-md-4">
  <h2 class="text-right">Temporadas</h2>
</div>
<div class="col-md-4">
  <%= will_paginate @capitulos, renderer: BootstrapPagination::Rails %>
</div>



  
</div>






 
    <div class="container-fluid">
      <section id="pinBoot">
       <% @capitulos.each do |season| %>
       
      
       
      <% season.chapters.each do |chapter| %>
      
      <article class="white-panel">
        <h2 class="centrar">Temporada <%= chapter.season.name %></h2>
        <h4 class="centrar">Capítulo <%= chapter.name %><a target="_blank" href="<%= chapter.duration %>"> Descargar</a></h4>
        <p class="centrar"><%= chapter.duration %></p>

      
        
        
      <p class="centrar">
          <%= chapter.description  %>
   
              
        </p>

              <div class="embed-container">
                <iframe class="" src="<%= chapter.link %>" frameborder="0" allowfullscreen></iframe>

              </div>
        
        
      </article>
     
      <% end %>
     

      <% end %>

    </section>
    </div>







<div class="container">
   <% if current_user == User.find(1) %>
    
   <%= link_to 'Edit', edit_series_temp_path(@series_temp) %> |
  <%= link_to 'Back', series_temps_path %>
     
    <% end %> 



</div>



 
